{
  "header": {
    "state": {
      "formatProperties": true,
      "stateless": true,
      "unloadObjects": false,
      "enableServerStateHeaders": true,
      "locale": "en_US"
    },
    "policy": {
      "types": [
        {
          "name": "ItemRevision",
          "properties": [
            { "name": "item_id" },
            { "name": "item_revision_id" },
            { "name": "object_name" },
            { "name": "owning_user" },
            { "name": "last_mod_date" }
          ]
        }
      ]
    }
  },
  "variables": {
    "TCURL": "http://127.0.0.1",
    "TCURL_WEBTIER_PORT": "7001",
    "WEBTIER_APP_NAME": "tc"
  }
}